body {
  background: radial-gradient(
    circle,
    rgba(24, 200, 224, 1) 70%,
    rgba(14, 117, 131, 1) 100%
  );
  display: flex;
  font-family: Helvetica;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.login-box {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #0e7583;
  border-radius: 10px;
  margin-bottom: 50px;
  display: block;
}

::placeholder {
  color: #000000;
  opacity: 1;
}

.login {
  border-style: solid;
  text-align: center;
  height: 30px;
  width: 200px;
  background: rgb(233, 232, 232);
  border-radius: 15px;
}

.blogin {
  cursor: pointer;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border-style: none;
  background: #0e7583;
  color: white;
  transition: 0.3s;
}

.blogin:hover {
  background-color: rgba(24, 200, 224, 1);
  color: black;
}

.logo {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.message {
  color: black;
  margin-bottom: 10px;
  margin-top: 10px;
}
.faq {
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.faq:hover {
  background-color: black;
  color: white;
}

form input,
form button {
  margin-bottom: 10px;
  margin-top: 10px;
}
